﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="MH_Logistics.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge, IE=11" />
    <meta charset="utf-8" />
    <title>::-MANN+HUMMEL-::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="css/style.css" rel='stylesheet' type='text/css' />

    <!-- js-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"> </script>
    <script src="js/modernizr.custom.js"></script>
    <link href="css/Main.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
        <script type="text/javascript">
            //Response.AppendHeader("Cache-Control", "no-cache, no-store, must-revalidate"); // HTTP 1.1.
            //Response.AppendHeader("Pragma", "no-cache"); // HTTP 1.0.
            //Response.AppendHeader("Expires", "0");
            window.onbeforeunload = function () { alert('Browser or Broswer tab closed'); }
            window.onunload = function () {
                alert('Browser or Broswer tab closed');
                window.open("https://www.google.com/", "_blank", "resizable=yes, scrollbars=yes, titlebar=yes, width=800, height=900, top=10, left=10");
                //window.open("https://www.google.com/", "log out", "height=10,width=10,location=no,menubar=no,status=no,titlebar=no,toolbar=no", true);
            }
        </script>
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner" runat="server">
            <div class="navbar-wrapper">
                <div class="container-fluid">
                    <nav class="navbar navbar-fixed-top">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="Dashboard.aspx">
                                <img src="images/logo-neu_1.png" alt=""></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class=" dropdown" runat="server" id="listSite">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setup <span class="caret"></span></a>
                                    <ul class="dropdown-menu mn_drop">
                                        <li runat="server" id="role"><a href="Role.aspx">Role</a></li>
                                        <li><a href="Location.aspx">Location</a></li>
                                        <li><a href="Users.aspx">Users</a></li>
                                        <li><a href="Line.aspx">Zones</a></li>
                                       <%-- <li><a href="Part.aspx">Part Numbers</a></li>--%>
                                        <li runat="server" id="BulkQR"><a href="BulkQRDetails.aspx">QR codes</a></li>
                                        <%--<li><a href="Groups.aspx">Groups</a></li>--%>
                                        <li><a href="Questions.aspx">Questions</a></li>
                                        <li><a href="Division.aspx">Division Flag</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Audit <span class="caret"></span></a>
                                    <ul class="dropdown-menu mn_drop">
                                        <li runat="server" id="CreatePlan"><a href="CreatePlan.aspx">Audit Plan</a></li>
                                        <li><a href="Planning.aspx">Calendar</a></li>

                                        <li><a href="Audit.aspx">Perform Audit</a></li>
                                        <li><a href="MyTask.aspx">Close Open Tasks</a></li>
                                        <li><a href="Alltask.aspx">Tasks Overview</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                                    <ul class="dropdown-menu mn_drop">
                                        <li><a href="Dashboard.aspx">Dashboard</a></li>
                                        <%--<li><a href="DashboardNew.aspx">DashboardNew</a></li>--%>
                                        <li runat="server" id="CompReport"><a href="ComparisonReport.aspx">Comparison Report</a></li>
                                        <li><a href="AuditReports.aspx">Audit Reports Download</a></li>
                                        <li><a href="AuditResultDownload.aspx">Audit Results Download</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav pull-right">
                                <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <asp:Label runat="server" ID="lblUserName" class="username" Text="WelcomeGuest"></asp:Label>
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu mn_right">
                                        <li><a href="ResetPassword.aspx">Reset Password</a></li>
                                        <li>
                                            <asp:LinkButton runat="server" ID="lnkLogout" OnClick="lnkLogout_Click">Logout</asp:LinkButton></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div class="mn_body_main">


            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>

    </form>
    <!--footer-->
    <div class="footer">
        <p>&copy; 2017 MANN+HUMMEL. All Rights Reserved.</p>
    </div>
</body>
</html>
